h2 {color:#fff;}
.marc {width:1220px;
		border:solid 1px #f36;
		height:250px;
		padding:50px;
		background:#873e23;
}

.shape1 {width:100px;
		height:100px;
		background:#fff;
}
h2 {transition: all 5s;}
h2:hover {font-size:2.5em;
			color:red}


/* demo de la primera transició*/
.transicio1 {transition:background-color 5s;}	
.transicio1:hover {background:green;}


/*segona transició*/
.transicio2 {
	transition: transform 5s;
}
.transicio2:hover {
	transform: rotate(60deg);
}


/*tercera transició*/
.transicio3 {
	transition: transform 5s; 
}
.transicio3:hover {
	transform: scale(0.5);
}


/*cuarta transició*/
.transicio4 {
	/*transition: all 10s;*/
	transition: border-radius 10s, background 5s;
}
.transicio4:hover {
	border-radius: 100px;
	background: orange;
}


/*cinquena transició*/
.transicio5 {
	transition: all 10s;
}
.transicio5:hover {
	border-radius: 100px;
	transform: scale(2);
	background: darkorchid;
}